*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Poppins;
    overflow-x: hidden;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.logo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

ul{
    list-style: none;
    & li{
        cursor: pointer;
    }
}

.cart-button{
    all: unset;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #7C58D3;
    background-color: white;
    font-weight: 700;
    & i{
        color: #7C58D3;
        font-size: 20px;
    }
}

.banner_01{
    background-image: url('./image/shape_bg_1.png');
    background-position: center top;
    background-repeat: no-repeat;
    padding: 130px 0 296px;
    background-size: 100% 100%;
    position: relative;
}

.banner-content{
    max-width: 858px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 68px;
    line-height: 71px;
    color: #0E081E;
    font-weight: bold;
}

.banner-desc{
    font-size: 18px;
    padding: 0 50px;
}

.banner_shap_01{
    position: absolute;
    background-image: url(./image/shapes_overlay_1.svg);
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    top: 0;
}

.circle_shap{
    position: absolute;
    right: -120px;
    top: 300px;
}

.circle_shap2{
    position: absolute;
    top: 500px;
    left: -200px;
}

.banner_services{
    padding: 50px 50px 10px 50px;
    width: fit-content;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    border: 2px solid #c9c7c7;
    background-color: #fff;
    border-radius: 10px;
}

.banner_services:hover{
    border: 2px solid #7C58D3;
}

.banner_services:hover .icon_circle{
    border: 1px solid #7C58D3;
}

.icon_circle{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #EBE5F7;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    left: 36%;
}

.service_item{
    z-index: 1;
    position: relative;
    padding: 42px 30px;
    background-size: auto;
    transition: .6s cubic-bezier(.165,.84,.44,1);
    background-repeat: no-repeat;
    border-radius: 8px;
    border: 2px solid #ebe5f7;
    background-position: right bottom;
}

.service_item:hover{
    border: 2px solid #7C58D3;
}

.service_item > p{
    font-size: 17px;
    margin-bottom: 12px;
    transition: .6s cubic-bezier(.165,.84,.44,1);
}

.title_wrap{
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.item_icon{
    width: 60px;
    height: 60px;
    flex: 0 0 60px;
    margin-right: 15px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.item_price{
    font-size: 18px;
    font-weight: 600;
    color: #7C58D3;
    margin-bottom: 20px;
}

.item_title{
    line-height: 1;
    font-size: 24px;
    transition: .6s cubic-bezier(.165,.84,.44,1);
}